.wrapper {
  background-color: gray;
  margin: 0px;
  height: 100vh;
}
.button_block {
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

